.collection-link {
   text-decoration: none;
}

.collection-link p {
   background-image: linear-gradient(to left,
   transparent,
   transparent 45%,
   white 55%,
   rgb(222, 145, 43));
   background-position: 100% 0;
   background-size: 200% 100%;
   color: black;
   display: block;
   transition: all .30s ease-in;
}

.collection-link p:hover {
   background-position: 0 0;
   color:white;
   text-decoration: underline;
}