.collection-link {
   text-decoration: none;
   display: flex;
   align-items: center;
}

.collection-link-pointer {
   color: black;
   padding: 0 0.3rem 0 0.3rem;
}

.collection-link p {
   color: black;
   position: relative;
   padding: 0;
   margin: 0;
}

.collection-link p::before {
   background-color: #000;
   bottom: 0;
   content: "";
   height: 2px;
   left: 0;
   position: absolute;
   -webkit-transform: scaleX(0);
   transform: scaleX(0);
   -webkit-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
   visibility: hidden;
   width: 100%;
}

.collection-link p:hover::before {
   visibility: visible;
   -webkit-transform: scaleX(1);
   transform: scaleX(1);
}